doctype html
html
    head
        title Оповещение о новом запросе консультации
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='../css/emails.css', rel='stylesheet')
    body
    
        div.Email-ContainsWrapper
            div.Email-ParagraphsBlock
                p Благодарим Вас за обращение к нам по поводу создания лендинга.
                p Меня зовут Боков Глеб, я топ-менеджер проекта MyLanding-Studio.ru.
                p Поскольку Вы не указали в обычном виде Ваше имя при оформлении заявки, то разрешите спросить, как к Вам можно обращаться. 
                p Пожалуйста, сообщите, для какого товара или для какой услуги Вы бы хотели, чтобы Вам создали лендинг?
                p Со своей стороны, я также готов ответить на все Ваши вопросы по поводу предстоящей разработки лендинга.
                p
                    | Просим проинформировать нас, согласны ли Вы со стандартным условием, что исходные 
                    | файлы лендинга, которые предстоит загружать на хостинг, будут Вам предоставлены только 
                    | после оплаты, а перед оплатой мы можем Вам показать открытый в браузере сайт только 
                    | через видео, либо по скайпу (как Вам будет удобнее).
                p Будем рады сделать Вам высококачественный лендинг!
            
           
            div.Email-Sign
                div.Email-Sign-Regards
                    span С уважением,
                    br
                    span Боков Глеб

                div.Email-Sign-Contacts
                    p Топ-менеджер проекта MyLanding-Studio.ru
                    p 
                        span Электронная почта: 
                        a.Email-Typo-Link(href='mailto:info@mylanding-studio.ru') info@mylanding-studio.ru
                    p 
                        span Skype (привязанный email): 
                        span bokov.gleb@outlook.com