extends layouts/basic
include mixins

block append CssLinks
    link(href='css/01_Top.css', rel='stylesheet')


block prepend Content

    include widgets/FeedbackFormServerErrors
    
    // === Рекомендуется разбить содержимое главной страницы на файлы
    include 01_Top/01_HeroImageWithOffer
    include 01_Top/02_Advantages
    

block append HiddenElements
    //      @include('open/widgets/FeedbackForm')        
    include widgets/FeedbackForm

block prepend EndBodyJS
    script(src='js/Top.js')