doctype html

html(lang='ru')
    // 「head ================================================================
    head
        block Head
        
            - var pageTitle = pageTitle ? pageTitle : 'MyLanding-Studio.ru - Создание лендингов на заказ без предоплаты'
            - var keywords = keywords ? keywords: 'лендинг, landing, landing page, создание лендинга на заказ, лендинг без предоплаты'
            - var description = description ? description: 'MyLanding-Studio.ru - создание лендингов («приземляющих страниц») на заказ. Во все пакеты услуг включено: разработка уникального дизайнерского решения, адаптация под мобильные устройства, поисковая оптимизация под Yandex и Google. Бесплатная помощь в регистрации домена и приобретении хостинга, а также бесплатная поддержка от трёх месяцев.'
            
            title #{pageTitle}
            meta(charset='UTF-8')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            meta(name='Author', content='Bokov Gleb, MyLanding Studio')
            
            meta(name='description', content=description)
            meta(name='Keywords', content=keywords)
            
            //      href="{{ asset('common/img/favicon.ico') }}"       
            link(rel='shortcut icon' type='image/x-icon' href='../common/img/favicon.ico')
            
        //      @yield('CssLinks')
        //      @yield('EndHeadJS')
        block CssLinks
        // head」 ===============================================================
                            
    body
        div.RelativePageWrapper
            div.FlexPageLayoutWithFixedHeaderAndBottomFooter-Wrapper

                // 「header ==========================================================
                //      @include('open/widgets/RegularHeaderWithMenu')       
                include ../widgets/RegularHeaderWithMenu
                // header」 ==========================================================

                div.FlexPageLayoutWithFixedHeaderAndBottomFooter-MainAndFooterFlexScroolView

                    // 「content ========================================================
                    //      @yield('Content')       
                    block Content
                    // content」 ========================================================

                    // 「footer =========================================================
                    //      @include('public/widgets/RegularFooter')        
                    include ../widgets/RegularFooter
                    // footer」 =========================================================

            
            div.Overlay-AbsoluteWrapper: div.Overlay-RelativeField
                //      @yield('HiddenElements')     
                block HiddenElements
                
        //      @yield('EndBodyJS')     
        block EndBodyJS