//@if(count($errorMessages) > 0)
//    <div class="FeedbackForm-ServerErrors-RootWrapper">
//        <div class="FeedbackForm-ServerErrors-Centerer">
//            <div class="FeedbackForm-ServerErrors-Title">
//                При отправке формы заявки обнаружены следующие ошибки:
//            </div>
//            <ul class="FeedbackForm-ServerErrors-ErrorsList">
//                @foreach($errorMessages -> all() as $errorMessage)
//                    <li>{!! $errorMessage !!}</li>
//                @endforeach
//            </ul>
//        </div>
//    </div>
//@endif

// Убери (style='display: none')
div.FeedbackForm-ServerErrors-RootWrapper(style='display: none')
    div.FeedbackForm-ServerErrors-Centerer
        div.FeedbackForm-ServerErrors-Title При отправке формы заявки обнаружены следующие ошибки:
        ul.FeedbackForm-ServerErrors-ErrorsList
            li Вы не указали Ваше имя. Пожалуйста, укажите имя (фамилию и отчество не обязательно).
            li Вы указали слишком длинное имя: позволено не более 255 символов.
            li Вы не указали адрес электронной почты. Пожалуйста, укажите адрес электронной почты.
            li Вы ввели невозможный адрес электронной почты. Пожалуйста, проверьте введённый email-адрес.