extends layouts/authentication
include widgets/Controls

block append CssLinks
    link(href='css/Authentication.css', rel='stylesheet')

block prepend Content

    div.AdminAuthenticationLayout-StandardDialog
    
        div.Authentication-DialogTitle MyLanding-Studio.ru
        div.Authentication-DialogSubtitle Вход в панель администратора
        
        noscript
            div.Authentication-ErrorMessage.noJs Для использования панели администратора необходимо включить JavaScript.
        
        // action="{{ route('login') }}"
        form#SignInForm-HtmlForm.Authentication-HtmlForm(method='POST', action='#')
            // {{ csrf_field() }}
             
            // value="{{ old('email') }}"
            div.Authentication-InputFieldBlock
                input#Email-InputField-SignIn.Authentication-InputField(type='email' name='email' placeholder='email' required autofocus)
                div#EmptyEmail-ErrorMessage.Authentication-ErrorMessage
                    | Пожалуйста, введите адрес электронной почты.
                div#InvalidEmail-ErrorMessage.Authentication-ErrorMessage
                    | Вы ввели невозможный адрес электронной почты. 
                    | Пожалуйста, проверьте введённый электронный адрес.
            
            div.Authentication-InputFieldBlock
                input#Password-InputField-SignIn.Authentication-InputField(type='password' name='password' placeholder='пароль' required)
                div#PasswordIsEmpty-ErrorMessage.Authentication-ErrorMessage
                    | Пожалуйста, введите пароль.
                
            div.Authentication-CheckboxAndLabelBlock
                // {{ old('remember') ? 'checked' : '' }}
                +CheckBox({name: 'rememberMeCheckbox', checked: true})
                span.Authentication-CheckboxAndLabelBlock-Label Запомнить меня
                
            div.Authentication-SubmitButtonBlock
                button#SignIn-Button.Authentication-SubmitButton(type='submit' disabled) Вход
                
            div.Authentication-LinkBlock 
                // href="{{ route('password.request') }}
                a.Authentication-Link(href='#') Забыли пароль?
        

block append HiddenElements

block prepend EndBodyJS
    script(src='js/AdminPanel_Authentication.js')