extends layouts/basic

block append CssLinks
    link(href='css/Main.css', rel='stylesheet')

block prepend Content

    div.NewRequest-Wrapper
        div heading
        
        div.NewRequest-InfoGrid
            div.NewRequest-InfoGrid-Column
                div.NewRequest-InfoGrid-Section
                    div.NewRequest-InfoGrid-KeyCell Имя
                    div.NewRequest-InfoGrid-ValueCell Александр Тиньков asdfasdfsasdfsdf
                div.NewRequest-InfoGrid-Section
                    div.NewRequest-InfoGrid-KeyCell Email
                    div.NewRequest-InfoGrid-ValueCell tinkoff_a@gmail.com
                div.NewRequest-InfoGrid-Section
                    div.NewRequest-InfoGrid-KeyCell Время
                    div.NewRequest-InfoGrid-ValueCell 4/5/2018 13:44
                div.NewRequest-InfoGrid-Section
                    div.NewRequest-InfoGrid-KeyCell Split
                    div.NewRequest-InfoGrid-ValueCell MediumPrice
            div.NewRequest-InfoGrid-Column
                div.NewRequest-InfoGrid-Section
                    div.NewRequest-InfoGrid-KeyCell UTM-Source
                    div.NewRequest-InfoGrid-ValueCell 3245
                div.NewRequest-InfoGrid-Section
                    div.NewRequest-InfoGrid-KeyCell UTM-Campaign
                    div.NewRequest-InfoGrid-ValueCell 5436456
                div.NewRequest-InfoGrid-Section
                    div.NewRequest-InfoGrid-KeyCell UTM-Content
                    div.NewRequest-InfoGrid-ValueCell 456463
                div.NewRequest-InfoGrid-Section
                    div.NewRequest-InfoGrid-KeyCell Ссылка
                    div.NewRequest-InfoGrid-ValueCell 4356454653
        
        div     
        div Отправить электронное письмо с обращением по указанному в форме заявке имени
        div
        div Отправить электронное письмо с обращение по указанному здесь имени
        input(type='text' placeholder='Имя для обращения')
        div
        div Отправить электронное письмо без обращения по имени
        
        div Пол
            span Мужской 
            span Женский
            
        div Время отправки
        
        button Отправить
        


block append HiddenElements

block prepend EndBodyJS
    script(src='js/AdminPanel_Main.js')