$GridMinWidth: 320px
$GridMaxWidth: 960px

// другие шрифты - см. framework/_1-variables.sass
$DefalutFontFamily: $VerdanaFontFamily
$DefalutFontSize: 13px
$DefaultLineHeight: 1

.FlexPageLayoutWithFixedHeaderAndBottomFooter
    
    &-Wrapper
        display: flex
        flex-direction: column
        height: 100vh
        position: relative
        
    &-MainAndFooterFlexScroolView
        display: flex
        flex-direction: column
        flex-grow: 1
        width: 100%
        overflow-y: scroll
        
        position: relative