$ThemeYellowColor: #ffca00
$ThemeOrangeColor:  #f5511e
$ThemeTealColor: #02838e

$ErrorBackgroundColor: #EC644B
$ErrorBorderColor: #C0392B 

$ThemeLightBlueColor: #edfdff

%BigHeadingBase
    
    font-size: 42px
    text-transform: uppercase
    font-weight: bold
    text-align: center
    line-height: 1.2

.D
    
    &-H2
        
        @extend %BigHeadingBase
        
        &.themeBlue, &-themeBlue
            color: $ThemeTealColor