$ThemeYellowColor: #ffca00
$ThemeOrangeColor:  #f5511e
$ThemeTealColor: #02838e

$InputFieldErrorBorderColor: #D91E18
$ErrorMessageBackground: #E74C3C

$LinkBasicColor: #446CB3
$LinkHoverColor: #F9BF3B
$LinkActiveColor: #E87E04


.D
    
    &-PseudoCheckbox
        
        &-WrapperLabel
            
            display: inline-block
            cursor: pointer
            
        &-AuthenticCheckbox
            display: none
            
            &:checked + .unchecked
                display: none
            &:checked + .unchecked + .checked
                display: inline-block
                
            
        &-CheckboxIcon
            
            width: 24px
            height: 24px
            
            >path
                fill: $ThemeTealColor
                
            &.checked
                display: none