@import 'framework/_framework'


.AdminAuthenticationLayout
    
    $StandardDialogSidePaddingSum: 20px
    
    &-PageWrapper
        
        display: flex
        flex-direction: column
        
        height: 100vh
   
    &-Content
        
        flex-grow: 1
        
        display: flex
        justify-content: center
        align-items: center
        
        padding: 20px 10px
        
        background: linear-gradient(to bottom, #007991 0%, #78ffd6 100%)
        
        
    &-StandardDialog
        
        width: $GridMinWidth - $StandardDialogSidePaddingSum
        padding: 5px 10px 10px
        
        background: $AbsWhiteColor
        box-shadow: 2px 2px 6px rgba($AbsBlackColor, 0.25)
        
        
.Authentication
    
    &-DialogTitle
        
        font-size: 24px
        color: $ThemeTealColor
        
        margin-bottom: 4px
        
        
    &-DialogSubtitle
        
        font-size: 16px
        font-weight: bold
        color: #616161
        
        margin-bottom: 8px
        
    
    &-HtmlForm
        
    &-InputFieldBlock
        
        padding-top: 12px
        
        >input
            width: 100%
        
    &-InputField
        
        padding: 6px 10px
        border: 1px solid #BFBFBF
        border-radius: 4px
        
        width: 100%
        
        &:focus
            border-color: $ThemeYellowColor !important
        
        &.invalid
            border-color: $InputFieldErrorBorderColor
        
    &-CheckboxAndLabelBlock
        margin-top: 12px
        
        &-Label
            display: inline-block
            margin-left: 4px
            transform: translateY(-7px)
        
            
    &-SubmitButtonBlock
        margin-top: 4px
        
    &-SubmitButton
        
        padding: 8px 16px
        border-radius: 4px
        
        background: $ThemeTealColor
        border: none
        
        font-family: $CenturyGothicFontFamily
        font-weight: bold
        color: $AbsWhiteColor
        
        cursor: pointer
        
        &:hover
            background: rgba($ThemeTealColor, 0.75)
        
        &:active
            background: $ThemeYellowColor
        
        &:disabled
            background: #DADFE1
            pointer-events: none
        
    &-LinkBlock
        margin-top: 8px
        
    &-Link
        
        display: inline-block
        color: $LinkBasicColor
        border-bottom: 1px solid $LinkBasicColor
        padding-bottom: 1px
        
        &:hover
            border-color: $LinkHoverColor
            color: $LinkHoverColor
        
        &:active
            border-color: $LinkActiveColor
            color: $LinkActiveColor
        
        
    &-ErrorMessage
        
        display: none
        
        padding: 4px 8px
        margin-top: 6px
        
        font-family: $LucidaSansFontFamily
        line-height: 1.2
        color: $AbsWhiteColor
        
        background: $ErrorMessageBackground
        
        &.noJs
            display: block
        
        
.AdminPanelLayout
    &-Header
        
        background: $o
        padding: 10px 10px
        
        &-TempContains
            width: 150px
            height: 40px
            background: $y