.Email
    
    &-Typo
        
        &-Accent
            font-weight: bold
            color: #D64541
            
        &-Link
            
            $LinkBasicColor: #4183D7
            $LinkHoverColor: rgba($LinkBasicColor, 0.75)
            $LinkActiveColor: #F4B350
            
            color: $LinkBasicColor
            border-bottom: 1px solid $LinkBasicColor
            padding-bottom: 1px
            text-decoration: none
            
            &:hover
                color: $LinkHoverColor
                border-color: $LinkHoverColor
            
            &:active
                color: $LinkActiveColor
                border-color: $LinkActiveColor
                
                
    &-ContainsWrapper
        
        font-family: Verdana, Geneva, sans-serif
        font-size: 13px
        
    &-ParagraphsBlock
        line-height: 1.3
        
    &-RequestDataList
        >li
        
        &-Title
            margin-right: 4px

        &-Description
            font-weight: bold
            color: #4183D7
            
    &-Sign
        
        padding-top: 16px
        color: #616161
        
        &-Regards
            
        &-Contacts
            
            padding-top: 8px
            
            >p
                margin-top: 0

                &:not(:last-child)
                    margin-bottom: 4px
                
                &:last-child
                    margin-bottom: 0