.NavPanel
    
    $ItemHeight: 50px
    
    $IconWrapperDefaultColor: #EEEEEE
    $IconDefaultColor: #2C3E50

    $FontDefaultColor: #424242

    $ExpandButtonDefaultColor: #BDC3C7

    $InactiveFontAndPathFillColor: #DADFE1
    
    $NavPanelFontSize: 18px
    
    
    &-ItemsNode
        width: 100%
        border-bottom: 1px solid #BDC3C7
    
    &-Item

        &-IconCell

            justify-content: center
            flex-shrink: 0

            width: $ItemHeight
            height: $ItemHeight

            background: $IconWrapperDefaultColor

            >svg
                width: 24px
                height: 24px
                >path
                    fill: $IconDefaultColor

        &-TitleCell

            flex-grow: 1

            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis

            font-size: $NavPanelFontSize
            padding: 0 10px

            color: $FontDefaultColor


        &-SpecialCell


        &-ExpandButtonCell

            justify-content: center
            flex-shrink: 0
            width: 40px

            >svg
                width: 24px
                height: 24px
                >path
                    fill: $ExpandButtonDefaultColor

            .expanded
                display: none


        &-Wrapper

            display: flex

            background: $AbsWhiteColor
            
            cursor: pointer

            >div
                display: flex
                align-items: center

            &:hover

                .NavPanel-Item-IconCell
                    background: rgba($ThemeTealColor, 0.5)

                .NavPanel-Item-TitleCell, 
                .NavPanel-Item-SpecialCell,
                .NavPanel-Item-ExpandButtonCell,
                    background: rgba($ThemeTealColor, 0.25)


            &:active

                .NavPanel-Item-IconCell
                    background: rgba($ThemeYellowColor, 0.5)

                .NavPanel-Item-TitleCell, 
                .NavPanel-Item-SpecialCell,
                .NavPanel-Item-ExpandButtonCell,
                    background: rgba($ThemeYellowColor, 0.25)

            &.selected

                .NavPanel-Item-IconCell
                    background: $ThemeTealColor

                .NavPanel-Item-IconCell,
                .NavPanel-Item-ExpandButtonCell
                    path
                        fill: $AbsWhiteColor

                .NavPanel-Item-TitleCell, 
                .NavPanel-Item-SpecialCell,
                .NavPanel-Item-ExpandButtonCell,
                    background: rgba($ThemeTealColor, 0.75)

                .NavPanel-Item-TitleCell
                    color: $AbsWhiteColor

            &.disabled

                pointer-events: none

                .NavPanel-Item-IconCell path,
                .NavPanel-Item-ExpandButtonCell path
                    fill: $InactiveFontAndPathFillColor

                .NavPanel-Item-TitleCell
                    color: $InactiveFontAndPathFillColor
                    
                    
    &-Subitem
        
        display: flex
        align-items: center
        
        width: 100%
        height: $ItemHeight
        
        padding-top: 10px
        padding-bottom: 10px
        padding-left: 70px
        padding-right: 10px
        
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

        font-size: $NavPanelFontSize

        background: #F5F5F5
        color: $FontDefaultColor
        
        &:hover
            background: rgba($ThemeTealColor, 0.25)
        
        &:active
            background: rgba($ThemeYellowColor, 0.25)
        
        .selected
            background: rgba($ThemeTealColor, 0.75)