$LinkMainColor: #446CB3
$LinkHoverColor: #EB9532
$LinkActiveColor: #F4B350

.D
    
    &-Link
        
        display: inline-block
        padding-bottom: 2px
        border-bottom: 1px solid $LinkMainColor
        color: $LinkMainColor 
        
        &:hover
            color: $LinkHoverColor
            border-bottom: 1px solid $LinkHoverColor
        
        &:active
            color: $LinkActiveColor
            border-bottom: 1px solid $LinkActiveColor