include ../Authentication/mixins

doctype html

html
    // 「head ================================================================
    head
        block Head
        
            - var pageTitle = pageTitle ? pageTitle : 'MyLanding-Studio.ru - Доступ к панели администратора'
            
            title #{pageTitle}
            meta(charset='UTF-8')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            meta(name='Author', content='Bokov Gleb, MyLanding Studio')
            
            // <meta name="csrf-token" content="{{ csrf_token() }}">
            
            //      href="{{ asset('common/img/favicon.ico') }}"       
            link(rel='shortcut icon' type='image/x-icon' href='../common/img/favicon.ico')
            
        //      @yield('CssLinks')
        //      @yield('EndHeadJS')
        block CssLinks
        // head」 ===============================================================
                            
    body
        div.AdminAuthenticationLayout-PageWrapper
        
            // 「header ============================================================
            //      @include('admin/widgets/AdminPanelHeader')
            include ../widgets/AdminPanelHeader
            // header」 ============================================================
             
            div.AdminAuthenticationLayout-Content
                // 「content ==========================================================
                //      @yield('Content')       
                block Content
                // content」 ==========================================================
            
            div.Overlay-AbsoluteWrapper: div.Overlay-RelativeField
                //      @yield('HiddenElements')     
                block HiddenElements
                
        //      @yield('EndBodyJS')     
        block EndBodyJS