html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline


// HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main 
    
    display: block

    
    
a
    color: #000000
    text-decoration: none
    
    img
        border: none
    

ol, ul 
    list-style: none

        
blockquote, q 
    quotes: none
    &:before, &:after
        content: ''
        content: none

    
table 
    border-collapse: collapse
    border-spacing: 0

    
    
// Chrome
input:focus, select:focus, textarea:focus, button:focus 

    outline: none


// Firefox
input
    
    box-shadow: none

    
// Safari (iOS)
input[type="submit"],
input[type="button"] 
    
    border-radius: 0
    -webkit-box-sizing: content-box
    -webkit-appearance: button
    appearance: button
    border: none
    box-sizing: border-box
    
    &::-webkit-search-decoration 
      display: none
    
    &::focus 
      outline-offset: -2px
    
    
@mixin PlaceholderColor($color)
    
    &:placeholder-shown
        color: $color
    &::-webkit-input-placeholder
        color: $color
    &:-moz-placeholder
        color: $color
        opacity: 1
    &::-moz-placeholder
        color: $color
        opacity: 1
    &:-ms-input-placeholder
        color: $color