* 
    box-sizing: border-box 

html, body 
    height: 100% 

    
body
    
    font-family: $DefalutFontFamily
    font-size: $DefalutFontSize
    line-height: $DefaultLineHeight
    
    overflow-x: hidden



sub
    vertical-align: sub
    font-size: smaller

    
@mixin DivTable
    display: table
    >div
        display: table-row
        >div
            display: table-cell
            
@mixin FixedDivTable
    @include DivTable
    table-layout: fixed

@mixin TextOverflow($textOverflowValue)
    overflow: hidden
    white-space: nowrap
    @if $textOverflowValue == clip
        text-overflow: clip 
    @if $textOverflowValue == ellipsis 
        text-overflow: ellipsis

.RelativePageWrapper
    min-height: 100%
    position: relative

.Overlay
    &-AbsoluteWrapper
        display: none

        width: 100%
        height: 100%

        position: absolute
        top: 0
        z-index: 1000

    &-RelativeField
        height: 100%
        position: relative


.Centerer
    margin: 0 auto
    
    &-MinGridWidth
        @extend .Centerer
        width: $GridMinWidth

    &-MinMaxGridWidth
        @extend .Centerer
        min-width: $GridMinWidth
        max-width: $GridMaxWidth
        width: 100%
        
        &-Flex
            @extend .Centerer-MinMaxGridWidth
            display: flex
            flex-direction: column